*{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    
}
html{
    background-color: white;
}
body{
    width: 95%;
    margin: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: gray;
    border: solid black 2px;
    text-align: center;
}
.header{
    background-color: white;   
    border: 2px solid black; 
    width: 96%;
    margin: 20px;
}
.nav1{
    border: 2px solid black;
    background-color: aqua;
    width: 95%;
    margin: 25px;
}
.contents{
    display: flex;
}
.section1{
    border: 2px solid black;
    background-color: white;
    width: 30%;
    margin: 25px;
    margin-top: .5rem ;
}
.header2{
    background-color: aqua;
    border: 2px solid black;
    width: 90%;
    margin: 10px;
}
.nav2{
    background-color: aquamarine;
    border: 2px solid black;
    width: 90%;
    height: 125vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer1{
    background-color: aqua;
    border: 2px solid black;
    width: 90%;
    margin: 10px;
}

.section2{
    border: 2px solid black;
    width: 90%;
    margin: 25px;
    margin-top: .5rem;
    background-color: white;
}
.header3{
    border: 2px solid black;
    width: 95%;
    background-color: aqua;
    margin: 15px;
}
.article1, .article2{
    background-color: aquamarine;
    border: 2px solid black;
    width: 95%;
    margin: 15px;
    margin-top: .5rem;
}
.head_article1, .sect1_article1, .sect2_article1, .footer_article1, .head_article2{
    background-color: white;
    border: 2px solid black;
    width: 95%;
    margin: 15px;
}
.sect_article2{
    display: flex;
}
.sect_p{
    background-color: white;
    border: 2px black solid;
    width: 100%;
    height: 25vh;
    margin: 15px;
    display: flex;
    align-items: center;
}
.aside_article2{
    background-color: white;
    border: 2px black solid;
    width: 40%;
    height: 25vh;
    margin: 15px;
    display: flex;
    align-items: center;
}
.footer_article2{
    background-color: white;
    border: 2px black solid;
    width: 95%;
    margin: 15px;
    padding:1px;
}
.footer_sec2{
    background-color: aqua;
    border: 2px black solid;
    width: 95%;
    margin: 15px;
    padding:1px;
}
.footer{
    background-color: white;
    border: 2px black solid;
    width: 96%;
    margin: 25px;
    margin-top: 1px;
}