*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #79c5e7;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.border{
    border: #bc672c 3px solid;
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    width: 80%;
    position: relative;
    background-color: #002447;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem 4rem .5rem .99rem; 
    border-radius: 20px;
    border: 2px #bc672c solid;
    margin: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: aliceblue;
    padding: 2px;

}
.head{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1030;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-link{
    text-decoration: none;
    color: #ffff;
}
.nav-link:hover{
    color: black;
    background-color: #fffaf7;
    padding: 10px;
    border-radius: 20px;
}

.container{
    background-color:#002447;
    width: 80%;
    margin: 20px;
    border: 2px #bc672c solid;
    border-radius: 20px;
}
.container section{
    width: 80%;
    height: 75vh;
}
.one-piece{
    float:left;
    width:42px;
    height:42px;
    margin-left: 20px;
}
.bball{
    float:left;
    width:42px;
    height:42px;
}
.chicken{
    float:left;
    width:42px;
    height:42px;
}
.container section img{
    width: 200px;
    height: 200px;
    padding-right: 2rem;
}
.container h1, h2{
    color: #fffaf7;
    margin-left: 20px;
}
.container h1{
    margin-top: 20px;
    font-size: 30pt;
    margin-bottom: 0;
}
.container p{
    color: #fffaf7;
    margin-left: 20px;
    float: left;
}
footer{
    background-color:#002447;
    width: 80%;
    margin: 20px;
    border: 2px #bc672c solid;
    border-radius: 20px;
}
footer h3{
    margin-top: 20px;
    font-size: 30pt;
    margin-bottom: 0;
    color: #fffaf7;
    margin-left: 20px;
}
footer p{
    color: #fffaf7;
    margin-left: 20px;
}
footer a{
    text-decoration: none;
    color: #bc672c;
}
footer a:hover{
    color: white;
}
